body {
    font-size: 2rem;
    line-height: 2em;
}

.characterpage a {
    font-size: 2rem;
    font-weight: bold;
    color: darkslategrey;
    padding: 10px;
    margin: 1em;
}

.characterpage h2 {
    font-size: 3rem;
    font-weight: bold;
    justify-items: center;
}

.characterpage h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px;
}

.background_color_box {
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 30px 40px;
    box-shadow: 10px 10px black;
}