.car_box {
    justify-content: center;
    display: flex;
    margin: 50px;
}
.car_box button {
    margin-left:50px;
    background-color:black;
    color: white;
    padding:10px;
    border-radius:10px;
}
.car_box h2{
    font-weight:bold;

}