
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/UserStyles.css" rel="stylesheet" />
<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
