@model MVCDemo.Models.UserProfileModel

@{
    ViewData["Title"] = "User Profile";
}
<h2><strong>Welcome to your profile</strong></h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="create" method="post">
            <table>
                <tr>
                    <td>What is your first name?</td>
                    <td>@Html.TextBoxFor(m => m.FirstName)</td>
                </tr>
                <tr>
                    <td>What is your last name?</td>
                    <td>@Html.TextBoxFor(m => m.LastName)</td>
                </tr>
                <tr>
                    <td>What is your age?</td>
                    <td>@Html.TextBoxFor(m => m.Age)</td>
                </tr>
                <tr>
                    <td>What is your occupation?</td>
                    <td>@Html.TextBoxFor(m => m.Occupation)</td>
                </tr>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

